@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Crimson+Text&display=swap");

font-family: "Architects Daughter", cursive;
font-family: "Bebas Neue", cursive;
font-family: "Crimson Text", serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: white;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.logo {
  /* ADJUST THE LOGO FROM THE RIGHT SIDE TO THE LEFT */

  /* ADJUST THE LOGO FROM THE RIGHT SIDE TO THE LEFT */
  /* CREDIT TO https://codepen.io/j3gro/pen/sactq */
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}
/* CREDIT TO https://codepen.io/j3gro/pen/sactq */

.directlogo {
  transition: 0.5s ease-in-out;
  height: 70px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 20px;
  font-family: "Architects Daughter", cursive;
  color: lightskyblue;
  letter-spacing: 8px;
}

nav a:hover {
  color: lightcoral;
  transition: 0.4s ease-in-out;
}

.links a {
}

@media only screen and (max-width: 900px) {
  nav {
    height: 10vh;
    transition: 0.5s ease-in-out;
  }
  nav a {
    font-size: 20px;
    transition: 0.5s ease-in-out;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .directlogo {
    height: 50px;
    transition: 0.5s ease-in-out;
  }
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  display: flex;
  flex-direction: column;
}

.home {
  height: 90vh;
  margin-top: 10vh;

  background-image: url(../images/fishandchipsbg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.homeContent {
  margin-left: 10%;
  margin-top: 20vh;
}
.homeimg {
}

.homeText {
  font-size: 54px;
  font-family: "Bebas Neue", cursive;
  text-align: left;
  color: lightcoral;
  text-shadow: 2.5px 2.5px darkgreen;
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .home {
    background-position-x: 20%;
  }

  .homeContent {
    margin-left: 10%;
    margin-top: 10vh;
  }

  .homeText {
    text-align: center;
  }
}

.visit {
  margin-top: 10vh;
}

.visitContent {
  margin-top: 10vh;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.visitText {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 32px;
  width: 60%;
}

.visitText h1 {
  color: lightcoral;
  text-shadow: 0px 2px darkgreen;
}

.visitText p {
  font-family: "Crimson Text", serif;
  font-size: 24px;
}

.visitSearch {
  font-family: "Crimson Text", serif;
}

.visitSearch input {
  font-family: "Crimson Text", serif;
}

.visitPic {
  margin-top: 10vh;
  height: 40vh;
}

.subbtn {
  color: white;
  background-color: lightskyblue;
}

@media only screen and (max-width: 900px) {
  .visit {
    height: 100vh;
  }

  .visitText {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .visitContent {
    margin-left: 5%;
  }
  .visitText {
    width: 100%;
    font-size: 21px;
  }
  .visitPic {
    margin-top: 10vh;
    height: 20vh;
  }
}

.menu {
  margin-top: 10vh;
  background-color: whitesmoke;
  border-radius: 10px;
}

.menuTitle {
  text-align: center;
  font-size: 32px;
  font-family: "Crimson Text", serif;
  color: lightcoral;
  text-shadow: 0px 2px darkgreen;
  text-transform: uppercase;
}

@media only screen and (max-width: 400px) {
  .menuTitle {
    font-size: 21px;
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menuContent h1 {
  text-align: center;
  font-size: 32px;
  font-family: "Crimson Text", serif;
  color: lightskyblue;
  text-shadow: 0px 2px darkgreen;
  text-transform: uppercase;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menuItems1 {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}

.menuItems1 img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.about {
  margin-top: 10vh;
  background-color: lightgreen;
  border-radius: 10px 10px 0px 0px;
}

.aboutContent {
}

.aboutText h1 {
  text-align: center;
  font-size: 32px;
  font-family: "Crimson Text", serif;
  color: lightcoral;
  text-shadow: 0px 2px darkgreen;
  text-transform: uppercase;
}

.aboutText p {
  text-transform: uppercase;
}

.aboutText {
  /* font-family: "Architects Daughter", cursive; */
  /* font-family: "Bebas Neue", cursive; */
  font-family: "Crimson Text", serif;
  font-size: 24px;
  text-align: center;
}

footer {
  height: 10vh;
  background-color: lightcoral;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
